#contact {
    .content {
        text-align: center;
        padding: 2rem 2rem 0;
        .common-text {
            margin-bottom: 2rem;
        }
        #form-contact {
            margin-bottom: 2.5rem;
            .form-group {
                width: 100%;
                text-align: center;
                &.submit {
                    button {
                        max-width: 40rem;
                        float: none;
                        width: 100%;
                    }
                }
            }
        }
        .contact-info {
            .left, .right {
                width: 100%;
            }
            .contact-data {
                margin-bottom: 1.5rem;
            }
            .address-title {
                .font-black(14);
                margin-top: 2rem;
                margin-bottom: .5rem;
            }
            .address, .address-link {
                .font-regular(16);
                margin-bottom: 2rem;
            }
            .address-link {
                .font-black(16);
            }
        }
    }
}
