@import '../../../comum/assets/less/_variables.less';
@import '../../../comum/assets/plugins/select2/select2.css';

#contact {
    width: 100%;
    background-color: @white;
    .common-header{
        height: 8rem;
        .page-data{
            padding-top: 15px;
            .icon{
                .iblock(middle);
                font-size: 16px;
                svg{
                    height: 3rem; 
                }
            }
            .text{
                .iblock(middle);
            }
        }
    }
    .content {
        .iblock();
        padding: 0 4rem;
        width: 100%;
        max-width: 102rem;
        padding-top: 3.5rem;
        .common-text {
            .iblock();
            .fsize(16);
            width: 100%;
            margin-bottom: 3.5rem;
        }
        #form-contact {
            margin-bottom: 3.5rem;
            .form-group {
                &.submit {
                    button {
                        float: right;
                        svg {
                            height: 2.5rem;
                            margin-right: 1.2rem;
                        }
                        span {
                            margin-top: -.1rem;
                        }
                    }
                }
            }
        }
        .contact-info {
            .iblock();
            .left {
                .iblock();
                width: 30.5rem;
            }
            .right {
                .iblock();
                width: calc(~'100% - 30.5rem');
            }
            .contact-data {
                .iblock();
                width: 100%;
                margin-bottom: 1.2rem;
                .icon {
                    .iblock(middle);
                    .dim(2.3rem, 2.3rem);
                    svg {
                        max-width: 100%;
                        fill: @main-color;
                    }
                }
                .number {
                    .iblock(middle);
                    .font-black(25);
                    color: fade(@gray, 50%);
                    margin-left: 1.3rem;
                }
                .text {
                    .iblock(middle);
                    .font-regular(14);
                    .transition(color .3s @io-cubic);
                    color: fade(@gray, 50%);
                    margin-left: 1.5rem;
                }
                .whats {
                    svg {
                        fill: #1fd141;
                    }
                }
                .email {
                    svg {
                        max-width: 2.1rem;
                    }
                    html.desktop & {
                        &:hover {
                            .text {
                                color: @main-color;
                            }
                        }
                    }
                }
                .link {
                    cursor: default;
                    &.email {
                        cursor: pointer;
                    }
                }
            }
            .address-title {
                .iblock();
                .font-black(12);
                width: 100%;
                color: @gray;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
            .address, .address-link {
                .iblock();
                .font-regular(14);
                color: @text-color;
                width: 100%;
                font-style: normal;
            }
            .address-link {
                .font-black(14);
                color: @main-color;
                width: auto;
                html.desktop & {
                    &:hover {
                        color: @gray;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 780px) {
    @import url('_m.contato.less');
}