.auth {
    position: relative;
    width: 100%;
    height: ~'calc(100vh - 107px)';
    &__box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 430px;
        width: ~'calc(100vw - 30px)';
        text-align: center;
        h4 {
            margin-bottom: 20px;
        }
    }
    &--intern {
        height: 100%;
        .auth__box {
            position: relative;
            top: unset;
            left: unset;
            transform: unset;
            max-width: unset;
            width: 100%;
            text-align: left;
        }
    }
}