#blog, #search-results {
    margin: 50px auto;
    .box-news{
        margin: 0 0 30px;
        .box-news__thumb {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &--prod {
                background-size: contain;
            }
        }
        .box-news__info {
            .box-news__category {
                padding: 9px 6px;
                background-color: @red;
                font-family: 'Orbitron', sans-serif;
                font-size: 12px;
                color: white;
            }
            .box-news__title {
                font-size: 24px;
                margin: 25px 0;
                color: @darkGray;
            }
            .box-news__date {
                font-size: 11px;
                color: @lightGray;
            }
        }
        &:hover{
            box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.6);
        }
    }
}

#blog-details {
    overflow: hidden;
    .blog {
        &__header{
            position: relative;
            width: 100%;
            height: ~'calc(100vh - 109px)';
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 50px;
            &__content {
                position: absolute;
                bottom: 0;
                width: 100%;
                margin-left: -15px;
                padding: 50px 100px;
                background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4));
                h1, p {
                    color: white;
                }
            }
        }
        &__category {
            width: max-content;
            padding: 9px 6px;
            background-color: @red;
            font-family: 'Orbitron', sans-serif;
            font-size: 12px;
            color: white;
            margin-bottom: 35px;
        }
        &__content {
            margin-bottom: 35px;
        }
    }
}