.crowdfounding{
    margin: 80px auto;
    padding: 0;
    overflow: hidden;
    &__info {
        padding: 50px 45px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        &--right {
            align-items: flex-end;
            h3 {
                text-align: right;
                padding-right: 15px;
                &:before {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    &__cover {
        max-width: 100%;
        width: 100%;
        min-height: 490px;
        object-fit: cover;
    }
}