//=====================================
//  TAGS
//=====================================



//=====================================
//  CLASSES
//=====================================

#sliderHome {
    .carousel-inner {
        .carousel-item {
            height: 535px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .carousel-caption {
                display: flex !important;
                align-items: center;
                justify-content: space-between;
                left: 0 !important;
                right: 0 !important;
                bottom: 0 !important;
                padding: 40px 200px;
                box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.5);
                background-color: rgba(0,0,0,0.5);
                .carousel-caption__text {
                    flex: 4;
                    h2 {
                        color: white;
                        text-align: left;
                    }
                    p{
                        font-size: 16px;
                        text-align: left;
                    }
                }
                .carousel-caption__cta{
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }
}
#home {
    margin-top: 35px;
    .box-news{
        margin: 0 0 30px;
        .box-news__thumb {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .box-news__info {
            .box-news__category {
                padding: 9px 6px;
                background-color: @red;
                font-family: 'Orbitron', sans-serif;
                font-size: 12px;
                color: white;
            }
            .box-news__title {
                font-size: 24px;
                margin: 25px 0;
                color: @darkGray;
            }
            .box-news__date {
                font-size: 11px;
                color: @lightGray;
            }
        }
        &:hover{
            box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.6);
        }
    }   
}