#header {
    .transition(opacity .2s @io-cubic, visibility .2s @io-cubic);
    height: 6.6rem;
    line-height: 6.6rem;
    body.filter-open & {
        .transition(.1s opacity .2s @io-cubic, .1s visibility .2s @io-cubic);
        .opacity(0);
        visibility: hidden;
    }
    .toggle-menu {
        .iblock(middle);
        padding: 14px;
        line-height: normal;
        margin: 0 12px;
        position: relative;
        width: 56px;
        height: 46px;
        border: 0 none;
        text-align: left;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 35px;
        span {
            .iblock();
            .transition(opacity .3s @io-cubic, width .3s @io-cubic, height .3s @io-cubic, transform .3s @io-cubic);
            background-color: @main-color;
            &:nth-child(1) {
                .dim(28px, 2px);
                .postl(14px, 14px);
            }
            &:nth-child(2) {
                .dim(28px, 2px);
                .postl(50%, 14px);
                .translateY(-1px);
            }
            &:nth-child(3) {
                .dim(28px, 2px);
                .posbl(14px, 14px);
            }
            body.menu-open & {
                background-color: #656565;
                height: 4px;
                &:nth-child(1) {
                    .transform(rotate(45deg) translate(5px,5px));
                }
                &:nth-child(2) {
                    .opacity(0);
                }
                &:nth-child(3) {
                    .transform(rotate(-45deg) translate(5px,-5px));
                    width: 28px;
                }
            }
        }
    }
    >.common-limiter{
        text-align: center;
    }
    .logo {
        .iblock(middle);
        margin-left: 0;
        width: auto;
        a {
            img {
                max-width: 11.5rem;
            }
        }
    }
    .right {
        position: absolute;
        right: 0;
        .whats {
            .iblock();
            position: relative;
            .toggle-whats {
                .iblock(middle);
                .dim(100%, 6.6rem);
                background-color: transparent;
                border: 0 none;
                padding: 0 1rem;
                svg {
                    .iblock();
                    height: 2.6rem;
                    max-width: 2.6rem;
                    fill: #1fd141;
                }
            }
            .whats-mobile {
                .postl(6.6rem,50%);
                .translate(-50%, 3rem);
                .border-radius(.5rem);
                .opacity(0);
                .transition(opacity .3s @io-cubic, visibility .3s @io-cubic, transform .3s @io-cubic);
                visibility: hidden;
                padding: 1.9rem 2.2rem 2.2rem;
                background-color: #1fd141;
                display: block;
                line-height: normal;
                text-align: center;
                &:before {
                    .triangle(top, 1rem, #1fd141);
                    .postl(-1rem, 50%);
                    .translateX(-50%);
                    content: '';
                }
                .text {
                    .iblock();
                    .font-light(12);
                    color: @white;
                    text-transform: uppercase;
                    white-space: nowrap;
                    margin-bottom: 1rem;
                    line-height: 1.8rem;
                    strong {
                        .font-black(12);
                        display: block;
                    }
                }
                .number {
                    .iblock();
                    .font-black(27);
                    color: @white;
                }
            }
            &.open {
                .whats-mobile {
                    .translate(-50%, 0);
                    .opacity(1);
                    visibility: visible;
                }
            }
        }
        .search {
            background-color: transparent;
            button {
                &.toggle-search {
                    height: 6.6rem;
                    width: auto;
                    padding: 0 1rem;
                    svg {
                        .dim(2.6rem,2.6rem);
                    }
                }
            }
            .common-form {
                .translateY(3rem);
                position: fixed;
                top: 6.6rem;
                left: 0;
                width: 100%;
                visibility: hidden;
                input {
                    width: calc(~'100% - 7rem');
                    padding-left: 2.6rem;
                }
                button {
                    width: 7rem;
                    svg {
                        .dim(2.6rem,2.6rem);
                    }
                }
            }
            &:hover {
                .common-form {
                    .opacity(0);
                    .translateY(3rem);
                    visibility: hidden;
                }
            }
            &.open {
                .common-form {
                    .opacity(1);
                    .translateY(0);
                    visibility: visible;
                }
            }
        }
        .access {
            .iblock(middle);
            position: relative;
            width: auto;
            height: 3rem;
            margin-top: 25px;
            .toggle-user {
                .iblock();
                .dim(100%, 2.6rem);
                border: 0 none;
                background-color: transparent;
                position: relative;
                z-index: 2;
                overflow: hidden;
                padding: 0 1rem;
                svg {
                    .iblock(middle);
                    .dim(2.5rem,2.6rem);
                    fill: fade(black, 70%);
                    position: relative;
                    z-index: 2;
                }
            }
            .user-content {
                .postr(6.6rem,0);
                .opacity(0);
                .translateY(3rem);
                position: fixed;
                visibility: hidden;
                width: 90%;
                max-width: 34.8rem;
                .animating & {
                    .transition(.2s opacity .3s @io-cubic, .2s visibility .3s @io-cubic, .2s transform .3s @i-quartic);
                }
            }
            .access-link {
                .dim(100%, 3rem);
                svg {
                    .dim(2.5rem,2.6rem);
                }
                strong {
                    .font-black(12);
                    color: #585757;
                    max-width: initial;
                    line-height: 22px;
                    padding-left: 10px;
                }
            }
            a.access-link {
                padding: 0 1rem;
                svg {
                    margin: 0;
                }
            }
            button.access-link {
                background-color: @main-color;
                height: 11rem;
                padding-left: 2.5rem;
                padding-right: 0;
                .avatar {
                    .dim(6.8rem,6.8rem);
                    line-height: 6.6rem;
                    margin-right: 1.7rem;
                }
                &:before {
                    content: none;
                }
                svg {
                    fill: @white;
                }
            }
            .user-menu {
                .border-radius(0);
                .translateY(0);
                .menu-list {
                    .opacity(1);
                    padding: 0 3.1rem 1rem;
                }
                .menu-data {
                    .user-menu-link {
                        .font-black(15);
                        padding-bottom: 0;
                        margin-bottom: 2.2rem;
                        &:hover {
                            color: @white;
                        }
                    }
                }
                .exit {
                    .opacity(1);
                    padding: 0 2.5rem;
                    height: 7rem;
                    line-height: 7rem;
                    svg {
                        .dim(2.5rem, 2.1rem);
                    }
                    span {
                        .font-black(15);
                    }
                    &:hover {
                        span {
                            color: @white;
                        }
                        svg {
                            fill: @white;
                        }
                    }
                }
            }
            &.open {
                z-index: 9;
                .toggle-user {
                    svg {
                        fill: @main-color;
                    }
                }
                .user-content {
                    .animating & {
                        .transition(opacity .3s @io-cubic, visibility .3s @io-cubic, transform .3s @i-quartic);
                    }
                    .opacity(1);
                    .translateY(0);
                    visibility: visible;
                }
            }
        }
        .cart {
            vertical-align: top;
            align-content: flex-start;
            .cart-link {
                .dim(6rem);
                background-color: #fff;
                margin-left: .1rem;
            }
            svg {
                .dim(3rem, 2.8rem);
            }
            span {
                .dim(2.3rem,2rem);
                line-height: 2rem;
            }
        }
    }
}

#menu-mobile{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
    z-index: 300;
    text-align: center;
    overflow: auto;
    padding-top: 120px;
    .translateX(-100%);
    visibility: hidden;
    .opacity(0);
    .transition(all .4s ease-out);
    &.open{
        .opacity(1);
        visibility: visible;
        .translateX(0);
    }
    .content{
        background: @main-color;
        padding: 20px 10px;
        max-width: 100vw;
        .links{
            margin-bottom: 20px;
            a{
                display: block;
                padding: 10px 0px;
                color: #fff;
                font-size: 16px;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                &.active{
                    color: #000;
                }
            }
            .subCategoryMenuList{
                display: none;
                li{
                    a{
                        font-size: 11px;
                    }
                }
            }
        }
        .bottom{
            margin-bottom: 30px;
            a{
                display: block;
                margin: 0 auto;
                max-width: 250px;
                padding: 10px 0;
                text-align: center;
                border: 1px solid #fff;
                color: #fff;
                margin-bottom: 15px;
                svg{
                    display: inline-block;
                    vertical-align: middle;
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }
        .socials{
            text-align: center;
            a{
                display: inline-block;
                vertical-align: middle;
                width: 30px;
                height: 30px;
                margin: 0 5px;
                color: #000;
                text-align: center;

                svg{
                    display: inline-block;
                    vertical-align: middle;
                    width: 25px;
                    height: 20px;
                }
            }
        }
    }

}