.loader-container {
    border: 5px solid #555;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid black; //Altera loader cor do site
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .transform(initial);
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}