@import '../../../comum/assets/less/_variables.less';

#common-pages {
    width: 100%;
    background-color: @white;
    text-align: center;
    .content {
        .iblock();
        padding: 0 4rem;
        padding-top: 3.5rem;
        width: 100%;
        max-width: 102rem;
        .common-text {
            .font-light(16);
            .iblock();
            width: 100%;
            margin-bottom: 2.5rem;
            color: @text-color;
            line-height: 2.4rem;
            strong {
                .font-bold(16.5);
            }
            p {
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 960px) {
    @import url('_m.common_pages.less');
}