@import '../../../comum/assets/less/_variables.less';

#not-found {
    .iblock();
    width: 100%;
    padding: 7rem 0;
    text-align: center;
    color: @text-color;
    background-color: @white;
    .error-title{
        .font-black();
        .fsize(70);
    }
    .error-text{
        .fsize(22);
        line-height: 2.4rem;
        margin-bottom: 2rem;
    }
    form{
        .iblock();
        .dim(27.5rem);
        position: relative;
        input {
            width: 21.5rem;
            margin-right: 1rem;
        }
        button {
            width: 5rem;
            padding: 0;
            text-align: center;
            .fa {
                .iblock();
                .fsize(20);
                font-weight: normal;
                margin-right: 0;
            }
        }
    }
    .error-link{
        .fsize(18);
        margin: 2rem 0;
    }
}