#login {
    text-align: center;
    .common-header {
        .title {
            text-align: center;
            padding: 0 3rem;
        }
    }
    .content-wrapper {
        section {
            .login-select {
                .iblock();
                .postl(0,0);
                .transition(1.2s transform .4s @io-cubic);
                padding: 2rem;
                height: 9rem;
                background-color: transparent;
                border: 0 none;
                width: 100%;
                .title {
                    .iblock();
                    .font-black(20);
                    width: 100%;
                    color: @gray;
                    text-transform: uppercase;
                    margin-bottom: .5rem;
                }
                .common-text {
                    .font-light(16.5rem);
                    .iblock();
                    color: @text-color;
                    width: 100%;
                    text-align: left;
                }
                .fa {
                    .postr(50%,2rem);
                    .translateY(-50%);
                    .fsize(25);
                    color: @main-color;
                    font-weight: bold;
                }
            }
            .login-content {
                .iblock();
                .transition(height 1s @io-cubic);
                height: 0;
                overflow: hidden;
                width: 100%;
                max-width: 50rem;
                > .title {
                    text-align: center;
                    margin-top: .5rem;
                    margin-bottom: 2rem;
                }
            }
            &.open {
                &#login-wrapper {
                    .login-content {
                        .transition(1s height .2s @io-cubic);
                        height: 37rem;
                    }
                }
                &#register-wrapper {
                    .login-content {
                        .transition(1s height .2s @io-cubic);
                        height: 90rem;
                    }
                }
                .login-select {
                    .transition(transform .4s @io-cubic);
                    .translateX(-100%);
                }
            }
        }
    }
}
#login-wrapper{
    min-height: 9rem;
    width: 100%;
    border-bottom: .2rem solid #e2e2e2;
    position: relative;
    padding: 2rem;
    .forgot-button {
        margin-top: 1.2rem;
        margin-bottom: 1rem;
    }
}
#register-wrapper{
    border-left: 0 none;
    width: 100%;
    padding: 2rem;
    border-bottom: .2rem solid #e2e2e2;
    position: relative;
    min-height: 9rem;
}
.common-advantages {
    margin-top: 0
}
