@import '../../../comum/assets/less/_variables.less';
@import '../../../comum/assets/plugins/select2/select2.css';

#login {
    .iblock();
    width: 100%;
    .common-header {
        text-align: center;
        height: 9.7rem;
        .page-data{
            padding: 2rem 0 0 0;
            width: 100%;
        }
        .title {
            .font-black(30);
            color: @text-color;
        }
    }
    .content-wrapper {
        width: 100%;
        max-width: 126rem;
        margin: auto;
    }
    .nav-text {
        .iblock();
        .font-regular(12);
        .transition(font-weight .3s @io-cubic, letter-spacing .3s linear);
        color: @text-color;
        text-transform: uppercase;
    }
    a.nav-text, button.nav-text {
        html.desktop & {
            &:hover {
                letter-spacing: .01rem;
                font-weight: 600;
            }
        }
    }
    .title {
        .iblock();
        .font-black(18);
        color: @gray;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: left;
    }
    .common-title{
        color: #282828;
        .font-light();
        .fsize(15px);
        margin-bottom: 7px;
        text-align: left;
    }
    .login-facebook {
        border-color: #4267b2;
        color: white;
        svg {
            max-width: 2.2rem;
            max-height: 2.2rem;
            fill: #4267b2;
        }
        span{
            color: #4267b2;
        }
        &:before {
            background-color: #4267b2;
            color: #4267b2;
        }
        &:hover{
            background-color: #4267b2;
            span, .fa, svg {
                color: white;
                fill: white;
            }
        }
        html.desktop & {
            &:hover, &:focus, &:active {
                span {
                    color: white;
                }
                svg {
                    fill: white;
                }
            }
        }
    }
}

.invalid-hash{
    display: none;
}
#login-wrapper{
    .iblock(top);
    min-height: 210px;
    position: relative;
    width: 100%;
    padding: 4rem 4rem 2rem 4rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
    .col-sm-4{
        .iblock(middle);
        width: 45%;
        .row{
            margin-bottom: 0.5rem;
            &:last-child{
                margin-bottom: 1rem;
            }
        }
    }
    .col-sm-8{
        .iblock(middle);
        width: 55%;
    }
    .common-button {
        width: 100%;
        max-width: 36rem;
        height: 35px;
    }
    .forgot-button {
        margin-top: .8rem;
        margin-bottom: .6rem;
        float: left;
    }
    .change-container {
        position: relative;
        width: 100%;
    }
    #change-box,
    #forgot-box{
        .postl(0,0);
        width: 100%;
        .back-button{
            .fsize(13px);
            // .postl(17px,50%);
            // .translateX(-50%);
            line-height: 17px;
        }
        .common-text {
            text-align: left;
            margin-bottom: 2rem;
        }
    }
    #form-login{
        p.nav-text {
            margin: 0;
            position: relative;
            width: 100%;
        }
    }
    .login-container{
        .opacity(0);
        .scale(.8);
        .transition(transform 0.5s @o-exponential, opacity 0.5s @o-exponential, visibility 0s linear .5s);
        position: relative;
        visibility: hidden;
        &.current{
            .scale(1);
            .opacity(1);
            .transition-delay(0s);
            visibility: visible;
            z-index: 2;
        }
    }
}
#register-wrapper{
    .iblock(top);
    padding: 4rem 4rem 5rem 4rem;
    width: 100%;
    .nav-text {
        width: 100%;
    }
    #register-facebook{
        width: 100%;
        max-width: 36rem;
        margin-top: .9rem;
    }
    .face-register {
        margin-bottom: 2.9rem;
    }
    .row {
        &.hide {
            display: none;
        }
    }
    .select-wrapper {
        &.hide {
            display: none;
        }
    }
    #form-register {
        .nav-text {
            margin-bottom: 3.2rem;
        }
        input {
            -moz-appearance: textfield!important;
            &.hide {
                display: none;
            }
        }
    }
    .radio-group {
        margin-bottom: 1.5rem;
        .common-radio {
            .iblock();
            width: auto;
            margin-right: 3.5rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .terms {
        .fsize(0);
        text-align: center;
        .common-checkbox {
            .iblock(middle);
            width: calc(~'100% - 25rem');
        }
        .checkbox {
            margin-right: 1.1rem;
        }
        label {
            .font-light(14);
        }
        .common-button {
            .iblock(middle);
            width: 14rem;
        }
    }
    .register-back {
        width: 10rem;
        height: 4.5rem;
        margin-right: 1rem;
        background-color: transparent;
        border: 0 none;
        margin-bottom: 0!important;
    }
    .wrapper-register {
        .iblock();
        position: relative;
        width: 100%;
    }
    .change-form {
        .opacity(0);
        .scale(.8);
        .transition(transform 0.5s @o-exponential, opacity 0.5s @o-exponential, visibility 0s linear .5s);
        position: relative;
        visibility: hidden;
        &.current{
            .scale(1);
            .opacity(1);
            .transition-delay(0s);
            visibility: visible;
            z-index: 2;
        }
        &.address-box {
            .postl(0,0);
            width: 100%;
        }
    }
    .register-address {
        cursor: pointer;
    }
}
.common-advantages {
    margin-top: 0;
}

@media screen and (max-width: 1200px) {
    #login-wrapper{
        width: 40%;
    }
    #register-wrapper{
        width: 60%;
        .terms {
            text-align: right;
            .common-checkbox {
                width: 100%;
                margin-bottom: 2rem;
                text-align: left;
            }
        }
    }
}
@media screen and (max-width: 960px) {
    @import url('_m.login.less');
}