textarea.error {
	border-color: #DD6777;
	box-shadow: none;
}
ul.login-screen, ul.forgot-screen {
  padding-left: 0 !important;
  top: 0 !important;
}
ul.login-screen li div.noty_message, ul.forgot-screen li div.noty_message {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
a.chosen-single.error, a.chosen-choices.error {
  border-color: #dd6777 !important;
}
label.required:after {
  content: " *";
  color: #dd6777;
}
.note-editor.error {
  border: 1px solid #dd6777 !important;
}
span.mention {
  border:none;
  color: #000;
  padding: 0;
  margin:0;
  background: #dce6f8;
}
footer.content-footer {
  background-color: #003387;
  border-top: 5px solid #FFF;
}
footer .footer-name {
  padding-top: 8px;
}
h3.index-title {
  color: #003387;
  margin-top: 10px; 
}
footer.content-footer nav ul li a, footer.session-footer nav ul li a {
  padding: 5px;
}
.dashboard {
  padding-top: 12px;
  background: #FFF;
  background-size: 100% auto;
}
.dashboard-content {
  margin-top: -100px;
}

.dashboard h2 {
  width: 100%;
  font-size: 60px;
  text-align: center;
  margin:40px 0 0 0;
  color: #003387;
  font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.dashboard h3 {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #003387;
  font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin:0 0 200px 0;
}


/*Panvel CSS*/
.timeline::before {
	left: 23px;
}
.timeline .timeline-card:last-of-type {
	margin-bottom: 0 !important;
}
input.labelauty:checked + label {
	background-color: #429654 !important;
}
input.labelauty:checked + label:hover {
	background-color: #398439 !important;
}
.task-status .btn-block + .btn-block {
	margin-top: 0;
}
.cursor-disabled {
	cursor: not-allowed;
}
.main-panel .page-title {
	padding: 1rem;
}
.no-padding {
	padding: 0;
}
.tarefas ul.nav.nav-tabs li.active a {
	font-weight: bold;
}
.tarefas div.page-title div.subtitle h3 {
	padding: 0 0.375rem;
	margin:0 0 1rem 0;
}
.pst-r {
	position: relative;
}
.edit-input {
	position: absolute;
	top: 0;
}
.edit-enabled {
	z-index: 2;
	opacity: 1;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
 }
.edit-disabled {
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}
.line-through {
	text-decoration: line-through !important;
}
.lazy {
	max-width: 100%;
	min-width: 200px;
	height: auto;
}
.dragover {
	background-color: #d8e6fe;
}
.dashed {
	border-width:2px;
	border-style:dashed;
	border-color: #ccc;
}
.big-icon {
	font-size: 13rem;
}
.opct-50 {
	opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
}
.files .ui-file-placeholder {
	height: 265px;
	width: 25%;
	background-color: #ccc;
}
.files .thumbnail {
	width: 100%;
	height: 180px;
	display: table;
	position: relative;
}
.files .thumbnail * {
	display: table-cell;
	vertical-align: middle;
}
.files li {
	border:none;
}
.task-item {
	border-bottom: 1px solid #CCC;
}
.btn-highlight-attach {
	position: absolute;
	right: 1em;
	top: 1em;
	cursor: pointer;
}
.btn-highlight-attach.fa-star {
	color: #edb100;
}

/* SELECT GALERIA EDITOR DE TEXTO */
.dropdownCustom{
	min-width: 210px!important;
}
.dropdownCustom img{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}
.dropdownCustom ul{
	padding: 0;
	list-style: none;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	max-height: 280px;
	overflow-y: auto;
}
.dropdownCustom	li{
	cursor: pointer;
	display: block;
	width: 100%;
	font-size: 12px;
	margin: 3px 0;
	text-transform: capitalize;
}
.dropdownCustom h3{
	font-size: 12px;
	text-transform: capitalize;
	margin-top: 0;
	padding-top: 5px;
	border-top: 1px solid #ddd;
	font-weight: bold;
	margin-bottom: 0px;
}

.dropdownCustom h3:first-child{
	border: 0;
}

.dropdown-gallery li{
	border-top: 1px solid #ddd;
	font-weight: bold;
	padding: 10px 0;
	margin: 0;
}

.dropdown-gallery li:first-child{
	border: 0;
}