#checkout{
    text-align: center;
    .content{
        max-width: 76rem;
    }
    .payment-method{
        text-align: left;
        padding: 4rem 2rem 2rem;
        width: 100%;
        border-right: 0 none;
        margin-right: 0;
    }
    .order-summary{
        text-align: left;
        padding: 0 2rem 4rem;
        width: 100%;
        border-left: 0 none;
    }
    .jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
        .fsize(16);
        &:after {
            content: none;
        }
    }
    .jp-card .jp-card-front .jp-card-lower .jp-card-name {
        .fsize(18);
    }
    .jp-card .jp-card-front .jp-card-lower .jp-card-number {
        .fsize(20);
    }
    .jp-card {
        min-width: 0;
    }
    .row {
        .form-group {
            margin-bottom: 0;
            &.expiration {
                width: 16rem;
            }
            &.security {
                width: calc(~'100% - 16rem');
            }
        }
    }
    .product {
        padding: 2rem;
        .info {
            .title {
                .font-black(14);
            }
        }
    }
}
#cart-prices {
    .total-dup {
        .label {
            .font-black(14);
            width: calc(~'100% - 15rem');
            margin-right: 0;
        }
        .data {
            .font-black(14);
            width: 15rem;
        }
        &.price-total {
            .data {
                .fsize(20);
                width: 22rem;
            }
            label {
                width: calc(~'100% - 22rem');
            }
        }
    }
}