@import '../../../comum/assets/less/_variables.less';
@import '../../../comum/assets/plugins/select2/select2.css';

#checkout{
    text-align: center;
    .common-header{
        height: 8rem;
        .page-data{
            padding-top: 15px;
            .icon{
                .iblock(middle);
                font-size: 16px;
                svg{
                    height: 3rem; 
                }
            }
            .text{
                .iblock(middle);
            }
        }
    }
    #form-checkout{
        .block();
        width: 100%;
    }
    #checkout-name{
        text-transform: uppercase;
    }
    .content{
        .iblock();
        text-align: left;
        width: 100%;
        max-width: 120rem;
    }
    .payment-method{
        .iblock();
        padding: 4rem;
        width: 41rem;
        border-right: .1rem solid @border-color;
        margin-right: -.1rem;
    }
    .order-summary{
        .iblock();
        padding: 4rem;
        width: calc(~'100% - 41rem');
        border-left: .1rem solid @border-color;
    }
    .main-title{
        .iblock();
        .font-black(18);
        color: @gray;
        margin-bottom: 2rem;
        text-transform: uppercase;
        text-align: left;
    }
    .payment-type-list {
        .iblock();
        width: 100%;
        margin-bottom: 2rem;
        margin-top: .5rem;
        .common-radio {
            .iblock();
            width: auto;
            margin-right: 2rem;
            margin-bottom: 1rem;
        }
    }
    .card-wrapper{
        .iblock();
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
        .fsize(20);
        &:after {
            content: none;
        }
    }
    #credit_card {
        label {
            .iblock();
            .font-black(12);
            color: @text-color;
            width: 100%;
            text-transform: uppercase;
            margin-bottom: .5rem;
        }
    }
    #bank_transfer {
        .fsize(15);
        display: none;

        p {
            color: @gray;
            margin-bottom: 1.5rem;
        }
        .bank-info {
            strong, a {
                color: @main-color;
            }
        }
    }
    .row {
        margin-bottom: 2rem;
    }
    .expiration {
        input {
            vertical-align: middle;
            max-width: 6.2rem;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
        span {
            .iblock(middle);
            .font-black(12);
            color: @text-color;
            margin: 0 .8rem;
        }
    }
    .security {
        margin-left: 0;
    }
    #shipping-container {
        .iblock();
        width: 100%;
        padding-bottom: 3.5rem;
        border-bottom: .1rem solid @border-color;
        margin-bottom: 4rem;
    }
    .address-data {
        svg {
            .dim(2.5rem,3rem);
            .iblock();
            fill: @main-color;
            margin-right: .8rem;
        }
        .text {
            .iblock();
            width: calc(~'100% - 3.3rem');
            .title {
                .iblock();
                .font-black(12);
                text-transform: uppercase;
                color: @gray;
                width: 100%;
                margin-bottom: .8rem;
                padding-top: .5rem;
            }
            .common-text {
                .iblock();
                .font-regular(13);
                text-transform: uppercase;
                color: @gray;
                width: 100%;
                line-height: 1.8rem;
            }
        }
    }
    .shipping-data {
        .iblock();
        .font-regular(13);
        margin-bottom: .5rem;
        color: @text-color;
        width: 100%;
        padding-left: 3.3rem;
        margin-top: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
        strong {
            .font-black(14);
            color: @gray;
        }
        .price {
            .font-black(14);
            color: #49a541;
        }
    }
    .products {
        .iblock();
        width: 100%;
        margin-bottom: 3rem;
    }
    .product {
        .iblock();
        .border-radius(.3rem);
        width: 100%;
        margin-bottom: 1rem;
        border: .2rem solid @border-color;
        padding: 2rem 3rem;
        position: relative;

        .lazyload {
            .iblock();
            .dim(9rem,9rem);
            margin-right: 2.5rem;
            line-height: 9rem;
            .lazyload-image {
                max-width: 100%;
                max-height:90px;
            }
        }
        .info {
            .iblock();
            width: calc(~'100% - 11.5rem');
            .title {
                .iblock();
                .font-black(16);
                width: 100%;
                min-height: 3.6rem;
                color: @gray;
                text-transform: uppercase;
                .optional {
                    .font-light(14);
                    text-transform: none;
                }
            }
            .quantity {
                .iblock();
                .font-light(14);
                width: 100%;
                color: @gray;
                margin-bottom: 1rem;
            }
            .price {
                .iblock();
                .font-black(20);
                width: 100%;
                color: @main-color;
            }
        }
    }
    .address-title{
        color: #111;
        .fsize(25px);
        .font-black();
        margin-bottom: 15px;
        text-transform: uppercase;
    }
}
#cart-prices {
    .iblock();
    margin-top: 0;
    .total-dup {
        .iblock();
        .fsize(0);
        width: 100%;
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
        .label {
            .iblock();
            .font-black(16);
            color: @gray;
            text-transform: uppercase;
            margin-right: 2rem;
            width: calc(~'100% - 26rem');
        }
        .data {
            .iblock();
            .font-black(16);
            color: @text-color;
            text-transform: uppercase;
            width: 24rem;
            text-align: right;
        }
        &.price-transfer-discount {
            display: none;
        }
        &.price-total {
            border-top: .1rem solid @border-color;
            padding-top: 1.8rem;
            margin-top: .3rem;
            .data {
                .fsize(25);
                color: @main-color;
                span {
                    .font-regular(14);
                    color: @text-color;
                    display: block;
                    line-height: 2.2rem;
                    text-transform: none;
                    margin-top: .3rem;
                }
                small {
                    .fsize(14);
                }
            }
        }
    }
}
.navigation {
    .iblock();
    width: 100%;
    text-align: right;
    margin-top: 3.3rem;
    .common-button {
        svg {
            .dim(2.4rem,2.1rem);
            margin-right: 1rem;
        }
        &.success {
            border-color: @success-color;
            span {
                .fsize(16);
                color: @success-color;
            }
            svg {
                fill: @success-color;
            }
            &:before {
                background-color: @success-color;
            }
            &:hover, &:active, &:focus {
                background-color: @success-color;
                span, .fa, svg {
                    color: white;
                    fill: white;
                }
            }
        }
    }
}
.common-advantages {
    margin-top: 0;
}
@media screen and (max-width: 960px){
    @import url('_m.checkout.less');
}