@import '../../../comum/assets/less/mixins/variables.less';

#sliderHome {
    .carousel-inner {
        .carousel-item {
            height: 535px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .carousel-caption {
                display: flex !important;
                align-items: center;
                justify-content: space-between;
                left: 0 !important;
                right: 0 !important;
                bottom: 0 !important;
                padding: 40px 200px;
                box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.5);
                background-color: rgba(0,0,0,0.5);
                .carousel-caption__text {
                    flex: 4;
                    h2 {
                        color: white;
                        text-align: left;
                    }
                    p{
                        font-size: 16px;
                        text-align: left;
                    }
                }
                .carousel-caption__cta{
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }
}