.lazyload {
    display: block;
    position: relative;
    vertical-align: middle;
    text-align: center;    
}

.lazyload .lazyload-image {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    position: relative;
    -webkit-transition: opacity .5s cubic-bezier(0.69, .69, .39, .99);
    -moz-transition: opacity .5s cubic-bezier(0.69, .69, .39, .99);
    -o-transition: opacity .5s cubic-bezier(0.69, .69, .39, .99);
    transition: opacity .5s cubic-bezier(0.69, .69, .39, .99);
    z-index: 2
}

.lazyload img.lazyload-image {
    width: 100%
}

.lazyload div.lazyload-image {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.lazyload:after {
    content: "\f021";
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    font-size: 1.5rem;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .3s cubic-bezier(0.69, .69, .39, .99);
    -moz-transition: opacity .3s cubic-bezier(0.69, .69, .39, .99);
    -o-transition: opacity .3s cubic-bezier(0.69, .69, .39, .99);
    transition: opacity .3s cubic-bezier(0.69, .69, .39, .99);
    z-index: 1
}

.lazyload.loading .lazyload-image {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}

.lazyload.loading:after {
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running
}