@import '../../../comum/assets/less/_variables.less';
@import '_produtos.less';
@import '../../../comum/assets/plugins/select2/select2.css';

.common-advantages{
    margin-top: 0
}

#colorbox{
    #cboxWrapper{
        #cboxContent{
            #cboxLoadingGraphic{
                width: 90%;
                height: 90%;
                .loader-container{
                    right: initial;
                    bottom: initial;
                }
            }
        }
    }        
}

#product-details{
    .common-header {
        height: 8.2rem;
        .page-data {
            line-height: 8.2rem;
            padding-top: 0;
            .icon {
                .iblock(middle);
                line-height: normal;
                svg {
                    .dim(2.7rem, 2.7rem);
                }
            }
            .text {
                .iblock(middle);
                line-height: normal;
                .breadcrumbs {
                    margin-bottom: 0;
                }
            }
        }
    }
    .left {
        .iblock();
        width: calc(~'100% - 65rem');
    }
    .right {
        .iblock();
        width: 65rem;
        padding-left: 4.5rem;
        padding-right: 4rem;
    }
    .product-info{
        .iblock();
        .fsize(0);
        width: 100%;
        padding-bottom: 4rem;
        padding-top: 3.5rem;
        padding-left: 4rem;
        max-width: 135rem;
        border-bottom: .1rem solid #e5e5e5;
        .gallery {
            .iblock();
            position: relative;
            text-align: center;
            .common-back {
                .postl(0,0);
                z-index: 4;
            }
            .offer{
                .postr(1rem,0rem);
                .border-radius(.4rem);
            }
            .main-gallery {
                .dim(100%, 50rem);
                line-height: 5.0rem;
                padding: 3rem 7.5rem 0;
                margin-bottom: 5rem;
                position: relative;
                z-index: 1;
                .gallery-list {
                    .iblock();
                    .fsize(0);
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    .gallery-data {
                        .iblock();
                        .lazyload {
                            .iblock();
                            width: 100%;
                            height: 46rem;
                            line-height: 46rem;
                            .lazyload-image {
                                .iblock(middle);
                                max-width: 100%;
                                max-height: 100%;
                                width: auto;
                            }
                        }
                        .subtitle{
                            width: 100%;
                            font-size: 15px;
                        }
                    }
                }
                .common-dots {
                    line-height: normal;
                }
            }
            .small-gallery {
                .iblock();
                .dim(100%, 8rem);
                line-height: 8rem;
                position: relative;
                .gallery-list {
                    .iblock();
                    width: calc(~'100% - 16rem');
                    white-space: nowrap;
                    overflow: hidden;
                    text-align: center;
                    .slick-list {
                        width: 100%;
                        text-align: center;
                    }
                    .slick-track {
                        .iblock();
                    }
                    .gallery-data {
                        .iblock();
                        margin: 0 .5rem;
                        cursor: pointer;
                        .lazyload {
                            .iblock(middle);
                            .dim(8rem, 8rem);
                            .border-radius(.4rem);
                            .transition(border-color .3s @io-cubic);
                            max-width: 100%;
                            text-align: center;
                            line-height: 5.4rem;
                            padding: 1rem;
                            border: .3rem solid #e5e5e5;
                            .lazyload-image {
                                width: auto;
                                max-width: 100%;
                                max-height: 100%;
                            }
                            .loader-container {
                                width: 35px;
                                height: 35px;
                            }
                            html.desktop & {
                                &:hover {
                                    border-color: @text-color;
                                }
                            }
                        }
                        &.slick-current {
                            .lazyload {
                                border-color: @text-color;
                            }
                        }
                    }
                }
                .common-arrows {
                    .iblock();
                    .postl(50%,0);
                    .translateY(-50%);
                    width: 100%;
                    .arrow {
                        border: .3rem solid #d9d9d9;
                        &.prev {
                            .postl(50%,0);
                            .translateY(-50%);
                        }
                        &.next {
                            .postr(50%,0);
                            .translateY(-50%);
                        }
                        html.desktop & {
                            &:hover {
                                border: 2.1rem solid @dark-gray;
                                .fa {
                                    color: @white;
                                }
                            }
                        }
                        .fa {
                            .postl(50%,50%);
                            .translate(-50%, -50%);
                            color: @dark-gray;
                        }
                    }
                }
            }
        }
        .sell-data {
            .iblock();
            .title {
                .iblock();
                .font-black(26);
                width: 100%;
                color: @dark-gray;
                margin-bottom: 1.3rem;
                line-height: 2.8rem;
                text-transform: uppercase;
            }
            .code {
                .iblock();
                .font-regular(13);
                width: 100%;
                color: #fff;
                background-color: #5897fb;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                margin-bottom: .9rem;
                padding: 7px 20px;
                width: auto;
            }
            .rating {
                .iblock();
                width: 100%;
                margin-bottom: 3rem;
                .show-reviews {
                    .iblock();
                    .font-regular(13);
                    .transition(color .3s @io-cubic, border-color .3s @io-cubic);
                    color: @gray;
                    background-color: transparent;
                    border: 0 none;
                    border-bottom: .1rem solid #8c8c8c;
                    margin-left: .8rem;
                    html.desktop & {
                        &:hover {
                            color: @main-color;
                            border-color: @main-color;
                        }
                    }
                }
            }
            .price {
                .iblock();
                width: 100%;
                margin-bottom: .5rem;
                position: relative;
                .old {
                    .iblock();
                    .font-light(14);
                    width: 100%;
                    color: @text-color;
                    text-decoration: line-through;
                    margin-bottom: .2rem;
                }
                .current {
                    .iblock();
                    .font-black(25);
                    width: 100%;
                    color: @main-color;
                    margin-bottom: .2rem;
                    small {
                        .font-light(25);
                    }
                }
            }
            .payment {
                .iblock();
                .font-regular(14);
                border-bottom: .1rem solid #d9d9d9;
                color: @text-color;
                line-height: 2.1rem;
                padding-bottom: 2.2rem;
                width: 100%;
                strong {
                    .font-black(14);
                }
                .btn-installments {
                    .font-black(12);
                    .transition(color .3s @io-cubic);
                    background-color: transparent;
                    border: 0 none;
                    color: @main-color;
                    text-transform: uppercase;
                    html.desktop & {
                        &:hover {
                            color: @dark-gray;
                        }
                    }
                }
            }
            .common-form {
                .iblock();
                width: 100%;
                padding-top: 2.2rem;
                max-width: 35.5rem;
                label {
                    .font-black(12);
                    .iblock();
                    width: 100%;
                    line-height: 2.4rem;
                    text-transform: uppercase;
                    color: @text-color;
                    text-indent: .3rem;
                }
            }
            .variations-list {
                .iblock();
                width: 100%;
                .variation-data {
                    .iblock();
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .form-group {
                    margin: 0;
                }
                .select-wrapper {
                    .iblock();
                    width: 100%;
                    position: relative;
                }
                select, .select2-container .select2-selection--single, .pk-field.-clean {
                    .font-regular(12);
                    text-transform: uppercase;
                }
            }
            .transport-box {
                .iblock();
                .fsize(0);
                width: 100%;
                .quantity-box {
                    .iblock(bottom);
                    width: 7rem;
                    margin-right: 1rem;
                    input {
                        .border-radius(50px);
                        border-width: 1px;
                        text-align: center;
                    }
                }
                .zipcode-box {
                    .iblock(bottom);
                    width: calc(~'100% - 8rem');
                    margin-left: 0;
                    input {
                        .border-radius(50px);
                        border-width: 1px;
                        width: calc(~'100% - 10rem');
                        margin-right: 1rem;
                    }
                }
                #calculate {
                    .iblock(bottom);
                    .dim(9rem,4.5rem);
                    .border-radius(30px);
                    .transition(300ms);
                    padding: 0;
                    border-width: 1px;
                    .loader-container {
                        width: 20px;
                        height: 20px;
                        left: 0;
                        top: 0;
                    }
                    &:hover,&:active,&:visited{
                        background-color: #333;
                        span{
                            color: #fff;
                        }
                    }
                    &:focus{
                        background-color: #fff;
                        span{
                            color: #333;
                        }
                    }
                    &:before{
                        display: none;
                    }
                    span{
                        color: #333;
                    }
                }
                .shipping-result {
                    .iblock();
                    width: 100%;
                    margin-top: 1.5rem;
                    text-align: right;
                    display: none;
                    .shipping-info {
                        .iblock();
                        .font-regular(12);
                        width: 100%;
                        margin-bottom: .5rem;
                        color: @text-color;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        strong {
                            .font-black(12);
                            color: red;
                        }
                    }
                    .no-shipping {
                        .iblock();
                        .font-regular(12);
                        width: 100%;
                        margin-bottom: .5rem;
                        color: @text-color;
                        a {
                            color: @main-color;
                        }
                    }
                }
            }
            #add-to-cart {
                .border-radius(30px);
                .transition(300ms);
                width: 100%;
                height: 6rem;
                border-color: red;
                margin-top: 2rem;
                &:hover{
                    background-color: red;
                    span{
                    }
                }
                &:before {
                    display: none;
                    background-color: red;
                }
                span {
                    color: red;
                    .fsize(16);
                }
                svg {
                    .dim(2.9rem,2.6rem);
                    margin-right: 1rem;
                }
                &:hover{
                    span, .fa, svg {
                        color: white;
                        fill: white;
                    }
                }
                &:active, &:focus{
                    background-color: white;
                    color: red;
                }
            }
            .no-stock {
                .iblock();
                .font-black(18);
                width: 100%;
                color: @text-color;
                margin-top: 1rem;
                max-width: 35.5rem;
                .common-button {
                    margin-top: 2rem;
                    border-color: @gray;
                    width: 100%;
                    height: 6rem;
                    line-height: 5.6rem;
                    span {
                        .fsize(16);
                    }
                    &:before {
                        background-color: @gray;
                    }
                    &:hover, &:active, &:focus {
                        span, .fa, svg {
                            color: @gray;
                            fill: @gray;
                        }
                    }
                }
            }
        }
    }
    .product-content {
        .iblock();
        .fsize(0);
        background-color: #ccc;
        width: 100%;
        border-bottom: .1rem solid #e5e5e5;
        padding-bottom: 3.5rem;
        padding-top: 4.4rem;
        padding-left: 4rem;

        .title {
            .iblock();
            .font-black(20);
            width: 100%;
            color: gray;
            margin-bottom: 1.8rem;
        }
        .video-gallery {
            .dim(100%,25.2rem);
            .iblock();
            .border-radius(1.2rem);
            margin-bottom: 1.8rem;
            padding: 0 8.5rem;
            background-color: #f2f2f2;
            position: relative;
            .gallery-list {
                .iblock();
                .fsize(0);
                width: 100%;
                white-space: nowrap;
                background-color: #f2f2f2;
                overflow: hidden;
                .gallery-data {
                    .iblock();
                    .videos-play{
                        &:before{
                            content: "";
                            width: 60px;
                            height: 40px;
                            background: url('@{img}videos-play.png') no-repeat center center;
                            background-size: auto 100%;
                            z-index: 3;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                    .lazyload {
                        .dim(100%,25.2rem);
                        overflow: hidden;
                        position: relative;
                        .lazyload-image {
                            .postl(50%,50%);
                            .translate(-50%,-50%);
                            max-height: 100%;
                        }
                    }
                }
            }
            .common-arrows {
                .iblock();
                .postl(50%,0);
                .translateY(-50%);
                width: 100%;
                .arrow {
                    border: .3rem solid #d9d9d9;
                    background-color: transparent;
                    &.prev {
                        .postl(50%,2rem);
                        .translateY(-50%);
                    }
                    &.next {
                        .postr(50%,2rem);
                        .translateY(-50%);
                    }
                    html.desktop & {
                        &:hover {
                            border: 2.1rem solid @dark-gray;
                            .fa {
                                color: @white;
                            }
                        }
                    }
                    .fa {
                        .postl(50%,50%);
                        .translate(-50%, -50%);
                        color: @dark-gray;
                    }
                }
            }
        }
        .characteristcs {
            ul {
                margin-top: 0;
                li {
                    list-style-type: none;
                    margin-bottom: 0;
                }
            }
        }
    }
    .reviews {
        .iblock();
        width: 100%;
        padding-top: 4rem;
        margin-bottom: 2rem;
        .title {
            .iblock();
            .font-black(20);
            width: 100%;
            color: @dark-gray;
            padding-left: 5rem;
        }
        .review-list {
            .iblock();
            width: 100%;
        }
        .review-data {
            display: block;
            width: 100%;
            max-width: 84rem;
            padding-top: 2rem;
            padding-bottom: 4rem;
            padding-left: 5rem;
            border-bottom: .1rem solid #e5e5e5;
        }
        .common-rating {
            margin-bottom: 1.2rem;
        }
        .common-text {
            .iblock();
            width: 100%;
            margin-bottom: 1.5rem;
        }
        .author {
            .iblock();
            .font-regular(12);
            width: 100%;
            color: @gray;
            letter-spacing: .05rem;
            strong {
                .font-black(12);
                text-transform: uppercase;
            }
        }
        .common-form {
            .iblock();
            padding-top: 2.8rem;
            width: 100%;
            max-width: 84rem;
            padding-left: 5rem;
            .form-title {
                .font-black(12);
                color: @text-color;
                text-transform: uppercase;
                letter-spacing: .05rem;
                margin-bottom: 1.1rem;
            }
            .rating {
                .iblock();
                width: 100%;
                margin-bottom: .8rem;
                .star {
                    .iblock();
                    margin-right: .6rem;
                    position: relative;
                    input {
                        .postl(0,0);
                        visibility: hidden;
                    }
                    svg {
                        .dim(3.1rem, 3.1rem);
                        .transition(fill .4s @io-cubic);
                        fill: #e1e1e1;
                        cursor: pointer;
                    }
                    &.full {
                        svg {
                            fill: #ffba00;
                        }
                    }
                }
            }
            .submit {
                text-align: right;
            }
        }
    }
}
#related-products{
    h2 {
        .iblock();
        .font-black(20);
        width: 100%;
        height: 9.2rem;
        line-height: 9.2rem;
        color: @dark-gray;
        border-bottom: .1rem solid #e5e5e5;
        padding-left: 4rem;
    }
    .products-list {
        .iblock();
        width: 100%;
        white-space: nowrap;
        border-bottom: .1rem solid #e5e5e5;
        .product-data {
            white-space: normal;
            border-color: #e5e5e5;
            border-left: 0 none;
            border-bottom: 0 none;
        }
    }
    .related-gallery {
        position: relative;
        .common-arrows {
            .iblock();
            .postl(50%,0);
            .translateY(-50%);
            width: 100%;
            .arrow {
                border: 2.1rem solid @dark-gray;
                color: @white;
                &.prev {
                    .postl(50%,2rem);
                    .translateY(-50%);
                }
                &.next {
                    .postr(50%,2rem);
                    .translateY(-50%);
                }
                .fa {
                    .postl(50%,50%);
                    .translate(-50%, -50%);
                    color: @white;
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    #product-details{
        .product-info{
            .gallery {
                .small-gallery {
                    .gallery-list {
                        width: calc(~'100% - 12rem');
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1150px) {
    #product-details{
        .left {
            width: calc(~'100% - 46rem');
        }
        .right {
            width: 46rem;
        }
        .product-info{
            .gallery {
                .main-gallery {
                    .dim(100%, 38rem);
                    line-height: 38rem;
                    padding: 3rem 3rem 0;
                    .gallery-list {
                        .gallery-data {
                            .lazyload {
                                height: 38rem;
                                line-height: 38rem;
                            }
                        }
                    }
                }
            }
        }
        .product-content {
            .video-gallery {
                .dim(100%,auto);
                .border-radius(0);
                margin-bottom: 3.5rem;
                background-color: transparent;
                padding: 0;
                .gallery-list {
                    .gallery-data {
                        .lazyload {
                            .dim(100%,31rem);
                        }
                    }
                }
                .common-arrows {
                    display: none!important;
                }
                .common-dots {
                    .slick-dots {
                        padding-top: 1.6rem;
                        button {
                            border-color:@text-color;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    @import url('_m.detalhes.less');
}

@media screen and (max-width: 700px) {
    #product-details{
        .product-content {
            .video-gallery {
                .gallery-list {
                    .gallery-data {
                        .lazyload {
                            .dim(100%,21rem);
                        }
                    }
                }
            }
        }
    }
}