///////////////////////////////////
/////////// ATALHOS ///////////////
///////////////////////////////////
.absolute(){position:absolute;}
.arial(){font-family:Arial, Helvetica, sans-serif;}
.block(){display: block;}
.bgpos(@xy: top center){background-position: @xy};
.bold(){font-weight:bolder;}
.clr(){&:after {content:" ";.block;clear:both;}}
.dim(@width: auto, @height: auto){height: @height;width: @width;}
.fleft(){float:left;}
.fixed(){position:fixed;}
.fright(){float:right;}
.invisible(){display:none}
.iblock(@vertical: top){display: inline-block;vertical-align: @vertical;}
.italic(){font-style:italic;}
.justify(){ text-align:justify; > * { position: relative; top: 1.202em; } &:before{ content: ''; display: block; width: 100%; margin-bottom: -1.202em; } &:after{ content:''; display:inline-block; width:100%; }}
.lower(){text-transform:lowercase;}
.limiter(){width: @min-width; margin: 0 auto; }
.nofocus(){&:focus { outline: none;}}
.norepeat(){background-repeat: no-repeat;}
.normal(){font-style:normal; font-weight:normal;}
.notext(){text-indent: -9999px;font-size: 0;line-height: 0;}
.place(@color){
    &::-webkit-input-placeholder {
        color: @color;
        opacity: 1;
    }
    &:-moz-placeholder {
        color: @color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color: @color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: @color;
        opacity: 1;
    }
}
.pointer(){cursor:pointer;}
.postl(@top,@left){.absolute;top:@top;left:@left;}
.postr(@top,@right){.absolute;top:@top;right:@right;}
.posbl(@bottom,@left){.absolute;bottom:@bottom;left:@left;}
.posbr(@bottom,@right){.absolute;bottom:@bottom;right:@right;}
.relative(){position:relative;}
.repeat(){background-repeat: repeat;}
.tshadow(@color: #000){text-shadow: 0 1px 0 @color;}
.upper(){text-transform:uppercase;}
.visible(){display:block}
///////////////////////////////////
/////////// COLORS ////////////////
///////////////////////////////////
.default(){ background-color: @default-bgcolor; }
.danger(){ background-color: @danger-bgcolor; }
.info(){ background-color: @info-bgcolor; }
.primary(){ background-color: @primary-bgcolor; }
.success(){ background-color: @success-bgcolor; }
.warning(){ background-color: @warning-bgcolor; }
///////////////////////////////////
/////////// MIXINS ////////////////
///////////////////////////////////
.fsize(@sizeValue) {
    @remValue: (unit(@sizeValue) / 16);
    @pxValue: unit(@sizeValue);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem";
}
.tab-focus(){
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.img(@image,@posicao:center){
    background-image:url('@{img}@{image}');
    .norepeat;
    .bgpos(@posicao);
}


.thin(@style:normal){  
    font-weight:100;
    font-style: @style;
}

.extra-light(@style:normal){  
    font-weight:200;
    font-style: @style;
}

.light(@style:normal){  
    font-weight:300;
    font-style: @style;
}

.regular(@style:normal){  
    font-weight:400;
    font-style: @style;
}

.medium(@style:normal){  
    font-weight:500;
    font-style: @style;
}

.semi-bold(@style:normal){  
    font-weight:600;
    font-style: @style;
}

.bold(@style:normal){  
    font-weight:700;
    font-style: @style;
}

.extra-bold(@style:normal){  
    font-weight:800;
    font-style: @style;
}

.black(@style:normal){  
    font-weight:900;
    font-style: @style;
}