#search-page{
    .common-top{
        .content{
            .results{
                font-size: 14px;
                font-weight: 800;
            }
        }
    }
    > .content{
        .subtitle{
            font-size: 30px;
            line-height: 30px;
        }
        .itens{
            margin-bottom: 20px;
        }
        .open-search{
            height: 50px;
            padding: 0 25px;
            span{
                font-size: 14px;
            }

        }
    }
}