@import '../../../comum/assets/less/_variables';
@import '../../../produtos/assets/less/_produtos';

#search-page{
    position: relative;
    z-index: 2;
    padding-bottom: 60px;
    .common-top{
        .content{
            .results{
                font-size: 20px;
                letter-spacing: 3px;
                text-align: center;
                text-transform: uppercase;
                margin-top: 15px;
            }
        }
    }
    > .content{
        max-width: 1060px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        .subtitle{
            font-size: 48px;
            line-height: 48px;
            .font-bold();
            letter-spacing: -1.5px;
            text-align: left;
            margin-bottom: 25px;
        }
        .itens{
            .product-item{
                .iblock();
                .dim(25%, 40.4rem);
                text-align: center;
                background-color: @white;
                position: relative;
                z-index: 1;
                .lazyload {
                    .iblock();
                    margin-bottom: 2rem;
                    height: 16.8rem;
                    max-height: 16.8rem;
                    width: 100%;
                    .lazyload-image {
                        width: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .name{
                    .iblock();
                    .font-bold(15);
                    font-weight: bold; 
                    width: 100%;
                    color: #9b9b9a;
                    min-height: 3.5rem;
                }
                .common-button{
                    .iblock();
                    .border-radius(20px);
                    .transition(300ms);
                    .upper();
                    padding: 10px 20px;
                    background-color: #c20b19;
                    border: 2px solid #fff;
                    margin-top: 15px;
                    width: auto;
                    span{
                        .font-bold(14);
                        color: #fff;
                    }
                }
            }
        }
        .open-search{
            margin-top: 20px;
            line-height: 45px;
            span{
                font-size: 15px;
                letter-spacing: 3px;
            }

        }
    }
}
@media(max-width: 959px){
    @import '_busca';
}