main {
    width: 100%;
    background-color: @white;
    .content {
        .iblock();
        padding: 4rem 4rem;
        display: block;
        width: 80%;
        margin: 0 auto;
        .content-top {
            .iblock();
            width: 100%;
            margin-bottom: 3rem;
        }
        .account-title {
            .iblock();
            .font-black(20);
            width: 100%;
            color: @gray;
            text-transform: uppercase;
        }
    }
    .user-menu {
        .dim(100%,5.5rem);
        padding-left: 4rem;
        border-bottom: .1rem solid #e2e2e2;
        line-height: 5.5rem;
        text-align: center;
        .menu-list {
            .fsize(0);
            .iblock();
        }
        .menu-data {
            .iblock(middle);
            margin-right: 2.8rem;
            &:last-child {
                margin-right: 0;
            }
            .title {
                .iblock();
                .font-black(12);
                .transition(color .3s @io-cubic);
                padding: 0 1.5rem;
                color: @gray;
                text-transform: uppercase;
                position: relative;
                span {
                    .iblock();
                    .transition(transform .3s @io-cubic);
                }
                &:after {
                    .posbl(0,0);
                    .dim(100%,0);
                    .transition(height .3s @io-cubic);
                    content: '';
                    background-color: @main-color;
                }
                html.desktop & {
                    &.current, &:hover {
                        color: @main-color;
                        span {
                            .translateY(-.1rem);
                        }
                        &:after {
                            height: .3rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 960px) {
    main {
        .content {
            padding: 0 2rem;
            text-align: center;
            .content-top {
                height: 6.2rem;
                border-bottom: .2rem solid #e2e2e2;
                margin-bottom: 2.2rem;
                text-align: center;
                line-height: 6.2rem;
                width: calc(~'100% + 4rem');
                margin-left: -2rem;
            }
        }
    }
}