main {
    .address-wrapper {
        .iblock();
        position: relative;
        width: 100%;
        overflow: hidden;
        .content-top {
            margin-bottom: 1.3rem;
            .account-title {
                .iblock(middle);
                .font-black(20);
                width: calc(~'100% - 21.2rem');
                color: @gray;
                text-transform: uppercase;
            }
            .common-button {
                .iblock(middle);
                width: 21.2rem;
                padding: 0 1rem;
                .transition(300ms);
                .loader-container {
                    width: 20px;
                    height: 20px;
                    left: 0;
                    top: 0;
                }
                svg {
                    .dim(2.1rem, 2.1rem);
                    .iblock(middle);
                }
            }
        }
        .content-loader {
            .postl(0,0);
            .dim(100%,100%);
            .opacity(0);
            .scale(0.9);
            .transition(300ms);
            visibility: hidden;
            background-color: @white;
            z-index: 4;
            .loader-container {
                width: 20px;
                height: 20px;
                left: 0;
                top: 0;
            }
        }
        .change-content {
            .opacity(1);
            .scale(1);
            .transition(300ms);
            visibility: visible;
            background-color: @white;
            &.hide {
                .opacity(0);
                .scale(0.9);
                visibility: hidden;
            }
            &#new-address {
                .postl(0,0);
                .dim(100%);
            }
        }
        &.loading {
            .content-loader {
                .opacity(1);
                .scale(1);
                visibility: visible;
            }
        }
    }
    #address-container {
        .iblock();
        width: 100%;
        .address-content {
            .iblock();
            .border-radius(.5rem);
            border: .2rem solid #cecdce;
            width: 100%;
            padding: 2.6rem;
            margin-bottom: 2rem;
            text-align: left;
            .address-loader {
                .postl(0,0);
                .dim(100%,100%);
                .opacity(0);
                .scale(0.9);
                .transition(300ms);
                visibility: hidden;
                background-color: fade(@white,50%);
                z-index: 4;
                .loader-container {
                    width: 20px;
                    height: 20px;
                    left: 0;
                    top: 0;
                }
            }
            &.loading {
                .address-loader {
                    .opacity(1);
                    .scale(1);
                    visibility: visible;
                }
            }
            .address-info {
                .iblock();
                width: calc(~'100% - 12rem');
                padding-right: 1rem;
            }
            .address-actions {
                .iblock();
                width: 12rem;
                text-align: right;
            }
            .title {
                .iblock();
                .font-black(16);
                text-transform: uppercase;
                color: @gray;
                width: 100%;
                margin-bottom: .8rem;
            }
            .common-text {
                .iblock();
                .font-regular(14);
                width: 100%;
                color: @gray;
                margin-bottom: 1.5rem;
            }
            .common-checkbox {
                .iblock();
                width: 100%;
                margin-bottom: .7rem;
                label {
                    .font-light(14);
                    color: @gray;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .delete-address {
                background-color: transparent;
                border: 0 none;
                margin-bottom: 3rem;
                svg {
                    .dim(2.4rem,2.6rem);
                    .transition(fill 0.3s @io-sine);
                    fill: @extralight-gray;
                }
                html.desktop & {
                    &:hover {
                        svg {
                            fill: @dark-gray;
                        }
                    }
                }
            }
            .change-address {
                width: 100%;
                padding: 0;
                border-color: @extralight-gray;
                svg {
                    .dim(2.2rem,2.2rem);
                    fill: @dark-gray;
                    margin-right: 1rem;
                }
                span {
                    color: @dark-gray;
                }
                &:before {
                    background-color: @extralight-gray;
                }
                &:hover, &:active, &:focus {
                    border-color: @dark-gray;
                    span, svg {
                        color: @white;
                        fill: @white;
                    }
                }
            }
        }
    }
    #new-address {
        .content-top {
            margin-bottom: 2.6rem;
            .common-back {
                .iblock(middle);
                .dim(4rem, 4rem);
                margin-right: 1.7rem;
                svg {
                    .dim(1.5rem,1.3rem);
                }
                html.desktop & {
                    &:hover {
                        border: 2rem solid @dark-gray;
                    }
                }
            }
        }
        .common-form {
            .address-group {
                width: 80%;
            }
            .number-group {
                width: 20%;
            }
            .final {
                .fsize(0);
                margin-top: 1.6rem;
                .checkbox-content {
                    .iblock(middle);
                    text-align: left;
                    width: calc(~'100% - 14rem');
                }
                .common-checkbox {
                    margin-bottom: .6rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .checkbox {
                        margin-right: 1.1rem;
                    }
                    label {
                        .font-light(14);
                        color: @gray;
                    }
                }
                .common-button {
                    .iblock(middle);
                    width: 14rem;
                    svg {
                        .dim(2rem,2rem);
                    }
                }
            }
        }
    }
}