main {
    .address-wrapper {
        padding: 0 2rem;
        .content-top {
            height: auto;
            border-bottom: 0 none;
            .account-title {
                width: auto;
            }
            .common-button {
                width: calc(~'100% - 4rem');
                max-width: 40rem;
            }
        }
    }
    #address-container {
        .account-title {
            width: calc(~'100% + 4rem');
            margin-left: -2rem;
            border-bottom: .2rem solid #e2e2e2;
            margin-bottom: 1.5rem;
        }
        .address-content {
            .border-radius(.3rem);
            border: .1rem solid #cecdce;
            padding: 2rem;
            position: relative;
            .address-info {
                width: 100%;
                padding-right: 0;
            }
            .address-actions {
                width: 100%;
                text-align: left;
            }
            .title {
                .fsize(17);
                margin-bottom: 1.2rem;
            }
            .common-text {
                .font-regular(16);
                margin-bottom: 1.2rem;
                line-height: 2.2rem;
            }
            .common-checkbox {
                .iblock();
                width: 100%;
                margin-bottom: 1rem;
                label {
                    .font-light(16);
                }
            }
            .delete-address {
                .postr(1.5rem,1.5rem);
                margin-bottom: 0;
            }
            .change-address {
                width: 14rem;
                margin-top: 2rem;
            }
        }
    }
    #new-address {
        .content-top {
            margin-bottom: 2.6rem;
            border-bottom: .2rem solid #e2e2e2;
            .common-back {
                .dim(3.6rem, 3.6rem);
                html.desktop & {
                    &:hover {
                        border: 1.8rem solid @dark-gray;
                    }
                }
            }
        }
        .common-form {
            padding: 0 2rem;
            .address-group, .number-group {
                width: 100%;
            }
            .final {
                .fsize(0);
                margin-top: 1.6rem;
                .checkbox-content {
                    .iblock(middle);
                    text-align: left;
                    width: calc(~'100% - 14rem');
                }
                .common-checkbox {
                    margin-bottom: .6rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .checkbox {
                        margin-right: 1.1rem;
                    }
                    label {
                        .font-light(14);
                        color: @gray;
                    }
                }
                .common-button {
                    .iblock(middle);
                    width: 14rem;
                    svg {
                        .dim(2rem,2rem);
                    }
                }
            }
        }
    }
}