#my-orders {
    .content {
        padding: 0;
        margin-bottom: 0;
        .content-top {
            padding-left: 0;
            margin-bottom: 0;
        }
    }
    .order-data {
        text-align: left;
        padding:  0;
        &.order {
            width: 100%;
            margin-bottom: 2.2rem;
            .code {
                .font-black(16.5);
            }
            .date {
                .font-regular(15.5);
                display: block;
            }
        }
        &.items {
            width: auto;
            .postr(2rem,2rem);
            * {
                .font-black(16.5);
            }
        }
        &.total {
            width: auto;
            .postr(4rem,2rem);
            * {
                .font-black(16.5);
            }
        }
        &.address {
            width: 100%;
            margin-bottom: 1.7rem;
            .type {
                .border-radius(.3rem);
                margin-bottom: .5rem;
            }
            .common-text {
                .font-regular(16);
            }
        }
        &.status {
            width: 100%;
            padding-right: 0;
            .desc {
                .font-black(16.5);
            }
            .date {
                .font-regular(15.5);
                margin-bottom: 2rem;
            }
            .details {
                .font-regular(15.5);
            }
        }
    }
    .orders-list {
        .order-dup {
            .order-content {
                padding: 2.5rem 2rem;
                position: relative;
            }
        }
    }
    .common-advantages {
        margin-top: 0;
    }
}
#order-detail {
    .content {
        padding: 0;
    }
    .content-top {
        padding: 0 2rem;
        .account-title {
            width: auto;
        }
    }
    ::-webkit-scrollbar {
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
    .status-list {
        width: calc(~'100% - 4rem');
        min-width: 98rem;
        padding: 0;
        margin-left: 0;
        .status-data {
            border: .1rem solid @white;
            border-top: 0 none;
            &:last-child {
                .border-radius(0);
            }
            .step {
                .iblock(middle);
                .dim(3.5rem,3.5rem);
                .border-radius(2rem);
                .font-black(20);
                margin-right: 1.3rem;
                border: .2rem solid fade(@white, 30%);
                color: fade(@white, 30%);
                line-height: 3.2rem;
            }
            .desc {
                .iblock(middle);
                line-height: normal;
                width: calc(~'100% - 4.8rem');
                text-transform: uppercase;
                color: @white;
                text-align: left;
                .date, .status {
                    .iblock();
                    .font-regular(12);
                    width: 100%;
                }
                .status {
                    .font-black(12);
                }
            }
        }
    }
    .order-products-list {
        padding: 3rem 0 1rem 2rem;
        margin-top: 0;
        text-align: left;
        .order-products-data {
            width: calc(~'50% - 2rem');
            margin-bottom: 2rem;
            margin-right: 2rem;
            padding: 2rem;
        }
        .lazyload {
            .dim(6.6rem,6.6rem);
            margin-right: 2rem;
            line-height: 6.6rem;
        }
        .info {
            width: calc(~'100% - 8.8rem');
            .title {
                .font-black(14);
                min-height: 3rem;
                margin-bottom: 1.7rem;
                .optional {
                    .font-light(13);
                }
            }
            .price {
                margin-top: 0;
                width: 100%;
                margin-bottom: 1.2rem;
                .old {
                    margin-bottom: .2rem;
                }
            }
            .right {
                width: 100%;
            }
            .quantity, .total {
                float: left;
                .label {
                    .font-regular(16);
                    margin-bottom: 2rem;
                }
                .data {
                    .font-black(16);
                }
            }
            .total {
                text-align: right;
                margin-left: 0;
                float: right;
                .data {
                    .font-black(16);
                }
            }
        }
    }
    .order-resume-list {
        text-align: left;
        .order-resume-data {
            padding: 2.3rem 2rem;
            border-bottom: .2rem solid #e2e2e2;
            .label {
                width: auto;
                float: left;
            }
            .data {
                width: auto;
                float: right;
            }
            &.total {
                .label {
                    padding-top: .6rem;
                }
            }
        }
    }
}