@import '../../../comum/assets/less/_variables.less';
@import '_account.less';

#change-password {
    .content {
        .content-top {
            margin-bottom: 2rem;
        }
        .common-form {
            .info {
                .fsize(0);
                .common-text {
                    .iblock(middle);
                    .font-light(14);
                    width: calc(~'100% - 14rem');
                    color: @gray;
                    line-height: 4.5rem;
                    text-align: left;
                    padding-right: 2rem;
                    .text {
                        .iblock(middle);
                        line-height: normal;
                    }
                }
                .common-button {
                    .iblock(middle);
                    width: 14rem;
                    svg {
                        .dim(2rem,2rem);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 610px) {
    #change-password{
        .content {
            .common-form {
                .info {
                    .common-text {
                        width: 100%;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                        text-align: left;
                        padding-right: 0;
                    }
                    .common-button {
                        width: 100%;
                    }
                }
            }
        }
    }
}