.products-list{
    .align-items(stretch);
    .display(flex);
    .flex-wrap(wrap);
    .justify-content(flex-start);
    width: 100%;
    .product-data{
        .iblock();
        .dim(25%, 40.4rem);
        text-align: center;
        background-color: @white;
        position: relative;
        z-index: 1;
        html.desktop & {
            &:before {
                .dim(100%, 100%);
                .postl(50%,50%);
                .translate(-50%,-50%);
                .transition(background-color .4s @io-cubic, width .2s @io-cubic, height .2s @io-cubic, box-shadow .3s @io-cubic);
                .border-radius(20px);
                background-color: @white;
                content: '';
                z-index: 1;
            }
            &:hover {
                z-index: 2;
                &:before {
                    background-color: #f0f0f0;
                }
                .offer {
                    right: 0rem;
                }
                .btn-cart {
                    border: 2px solid #c20b19;
                    background-color: #fff;
                    color: #c20b19;
                }
            }
        }
        .content{
            .iblock(top);
            .dim(100%,40.4rem);
            padding: 4rem 3rem 0;
            text-align: center;
            position: relative;
            z-index: 2;
        }
        .lazyload {
            .iblock();
            margin-bottom: 2rem;
            height: 16.8rem;
            max-height: 16.8rem;
            width: 100%;
            .lazyload-image {
                width: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .title{
            .iblock();
            .font-bold(15);
            font-weight: bold; 
            width: 100%;
            color: #9b9b9a;
            min-height: 3.5rem;
        }
        .price {
            .iblock();
            .font-bold(15);
            width: 100%;
            margin-bottom: .8rem;
            position: relative;
            height: 3.6rem;
            .current {
                .iblock();
                .font-bold(28);
                .dim(100%);
                .posbl(0,50%);
                .translateX(-50%);
                color: #d67c1b;
                small {
                    .font-light(16);
                }
            }
        }
        .btn-cart{
            .iblock();
            .font-bold(15);
            .border-radius(20px);
            .transition(300ms);
            .upper();
            padding: 10px;
            background-color: #c20b19;
            color: #fff;
            border: 2px solid #fff;
            font-size: 14px;
            margin-top: 15px;
            width: auto;
        }
        .no-stock {
            .iblock();
            .font-black(16);
            width: 100%;
            text-align: center;
            color: @text-color;
            margin-top: 1rem;
            .common-button {
                margin-top: 1rem;
                border-color: @gray;
                height: 4rem;
                text-transform: none;
                padding: 0 1.6rem;
                &:before {
                    background-color: @gray;
                }
                &:hover, &:active, &:focus {
                    span, .fa, svg {
                        color: @gray;
                        fill: @gray;
                    }
                }
            }
        }
    }
    .no-results{
        padding: 50px 0;
        text-align: center;
        width: 100%;
    }
}
.offer{
    .postr(1rem,1rem);
    .border-radius(.3rem 0 0 .3rem);
    .transition(right .3s @io-cubic);
    background-color: @text-highlight-color;
    text-align: center;
    padding: 5px 10px;
    z-index: 4;
    svg {
        .iblock();
        .dim(1.7rem, 1.7rem);
        fill: @white;
        margin-right: .4rem;
        margin-top: .2rem;
    }
    .save {
        .iblock();
        font-size: 14px;
        text-align: left;
        color: @white;
        line-height: 21px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 960px) {
    @import url('_m.produtos.less');
}