@import '../../../comum/assets/less/mixins/variables.less';
@import '../../../comum/assets/less/mixins/mixins.less';

.store {
    &__list {
        display: flex;
        flex-wrap: wrap;
        &__item {
            width: ~'calc(100% / 3 - 10px)';
            border: 1px solid #E9E9E9;
            border-radius: 4px;
            margin: 15px 0;
            padding: 15px 10px;
            text-align: center;
            &:nth-child(3n-1){
                margin: 15px;
            }
            &:nth-child(-n + 3){
                margin-top: 0px;
            }
            &:hover {
                box-shadow: 0 5px 5px 2px rgba(0,0,0,.2);
            }
            &--4{
                width: ~'calc(100% / 4 - 15px)';
                margin: 7.5px !important;
                &:first-child{
                    margin-left: 0 !important;
                }
                &:last-child {
                    margin-right: 0 !important;
                }
                &:nth-child(-n + 4){
                    margin-top: 0px !important;
                }
            }
        }
    }
}

.product {
    &__image {
        display: block;
        max-width: 100%;
        height: 262px;
        overflow: hidden;
        margin-bottom: 15px;
        img {
            height: 100%;
        }
    }
    &__info {
        p {
            position: relative;
            .fsize(18px);
            font-weight: bold;
            &:after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;
                width: 30px;
                height: 2px;
                margin: auto;
                background-color: @red;
            }
        }
    }
}

.product-detail {
    height: ~'calc(100vh - 109px)';
    &__image {
        height: 100%;
        max-height: 445px;
        overflow: hidden;
        text-align: center;
        img {
            height: 100%;
        }
    }
    .carousel {
        height: 445px;
        .carousel-inner {
            height: 100%;
            .carousel-item {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}