@import '../../../comum/assets/less/_variables.less';
@import '_produtos.less';
@import '../../../comum/assets/plugins/select2/select2.css';

.banner-category{
    display: flex;
    width: 100%;
    height: 340px;
    .lazyload{
        display: inline-flex;
        width: 100%;
    }
}
#products {
    .iblock();
    width: 100%;
    overflow: hidden;
    background-color: @white;
    .common-header {
        height: 8.2rem;
        .page-data {
            line-height: 8.2rem;
            padding-top: 0;
            .icon {
                .iblock(middle);
                line-height: normal;
                svg {
                    .dim(2.7rem, 2.7rem);
                }
            }
            .text {
                .iblock(middle);
                line-height: normal;
                .breadcrumbs {
                    margin-bottom: 0;
                }
            }
        }
        .order {
            float: right;
            padding-top: 1.3rem;
            padding-right: 4.1rem;
            .label {
                .iblock(middle);
                .font-black(12);
                text-transform: uppercase;
                margin-right: 2rem;
                color: @text-color;
            }
            .select-wrapper {
                .iblock(middle);
                width: 19rem;
                select {
                    .font-regular(12);
                    height: 5rem;
                    border: .3rem solid #e5e5e5;
                    text-transform: uppercase;
                    padding-left: 1.9rem;
                }
                select, .select2-container .select2-selection--single, .pk-field.-clean {
                    .font-regular(12);
                    text-transform: uppercase;
                }
            }
        }
    }
    .container {
        .iblock();
        .fsize(0);
        width: 100%;
        .products {
            &.loading {
                .loader {
                    .opacity(1);
                    visibility: visible;
                }
            }
        }
    }
    .list-categories{
        margin-bottom: 20px;
        li{
            a{
                .iblock();
                font-size: 16px;
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }
    .title.child {
        .font-black(20);
        text-transform: uppercase;
        color: @gray;
        width: 100%;
        line-height: 2.2rem;
        margin-bottom: 2.2rem;
        padding-left: 4rem;
        padding-top: 3.2rem;
        ~.filter{
            padding-top: 0;
        }
    }
    
    .filter {
        .iblock();
        width: 32.9rem;
        padding-left: 4rem;
        padding-top: 3.2rem;
        .title {
            .font-black(20);
            text-transform: uppercase;
            color: @gray;
            width: 100%;
            line-height: 2.2rem;
            margin-bottom: 2.2rem;
        }
        .common-form {
            .iblock();
            width: 100%;
            .top-button {
                margin-bottom: 3rem;
            }
            .filter-dup {
                .iblock();
                width: 100%;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
                border-bottom: .1rem solid #e2e2e2;
                &:last-child {
                    border-bottom: 0 none;
                    margin-bottom: 0;
                }
                .filter-title {
                    .iblock();
                    .font-black(12);
                    width: 100%;
                    color: @gray;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }
                .filters-list {
                    .iblock();
                    .transition(max-height .5s @i-quartic);
                    width: 100%;
                    max-height: 9rem;
                    overflow: hidden;
                }
                .common-checkbox {
                    display: block;
                    margin-bottom: 1.4rem;
                    width: auto;
                    label {
                        max-width: calc(~'100% - 2rem');
                    }
                    .checkbox, input {
                        vertical-align: top;
                    }
                }
                .see-more {
                    .font-black(11);
                    .transition(max-height .4s @io-cubic, opacity .3s @io-cubic, color .3s @io-cubic);
                    color: @text-color;
                    display: block;
                    text-transform: uppercase;
                    background-color: transparent;
                    border: 0 none;
                    text-align: left;
                    overflow: hidden;
                    max-height: 3rem;
                    padding-top: 1rem;
                    html.desktop & {
                        &:hover {
                            color: @dark-gray;
                        }
                    }
                }
                &.open {
                    .filters-list {
                        max-height: 100rem;
                    }
                    .see-more {
                        .opacity(0);
                        max-height: 0rem;
                        color: @background-color;
                    }
                }
            }
            .common-button {
                padding: 0 1.6rem;
                svg {
                    .dim(1.6rem,1.6rem);
                    margin-right: 1rem;
                }
            }
        }
    }
    .products {
        .iblock();
        width: calc(~'100% - 32.9rem');
        position: relative;

        &.full {
            width: 100% !important;
        }
        .loader {
            .dim(100%, 100%);
            .postl(0,0);
            .opacity(0);
            .transition(opacity .3s @io-cubic, visibility .3s @io-cubic);
            visibility: hidden;
            background-color: fade(@white, 50%);
            text-align: center;
            z-index: 3;
            .loader-container {
                .postl(15rem,50%);
                .translateX(-50%);
            }
        }
    }
}

@media screen and (max-width: 1800px) {
    #products {
        .products {
            .products-list{
                .product-data{
                    width: calc(~'100% / 3');
                    &:nth-child(4n + 1) {
                        border-left: 0 none;
                    }
                    &:nth-child(3n + 1), &:first-child {
                        border-left: .1rem solid #e2e2e2;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    #products {
        .filter {
            width: 28rem;
        }
        .products {
            width: calc(~'100% - 28rem');
        }
    }
}

@media screen and (max-width: 1250px) {
    #products {
        .products {
            .products-list{
                .product-data{
                    width: calc(~'100% / 2');
                    &:nth-child(4n + 1), &:nth-child(3n + 1) {
                        border-left: 0 none;
                    }
                    &:nth-child(2n + 1), &:first-child {
                        border-left: .1rem solid #e2e2e2;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    @import url('_m.produtos.less');
}

@media screen and (max-width: 850px) {
    .banner-category{
        height: 200px;
    }
    #products {
        .products {
            .products-list{
                .product-data{
                    width: calc(~'100% / 2');
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .banner-category{
        height: 160px;
    }
}
@media screen and (max-width: 550px) {
    .banner-category{
        height: 140px;
    }
    #products {
        .products {
            border-top: 0 none;
            .products-list{
                .product-data{
                    width: 100%;
                    border-left: 0 none!important;
                    border-right: 0 none!important;
                    a {
                        padding-bottom: 4rem;
                        height: auto;
                    }
                }
            }
        }
    }
}